.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 380px) {
  .popup {
    padding: 0 19px;
  }
}
