.form__keep {
  background: #000000;
  border-radius: 2px;
  color: #fff;
  width: 100%;
  height: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 14px 0 18px;
  cursor: pointer;
}

.form__keep:hover {
  opacity: 0.8;
}


@media screen and (max-width: 600px) {
  .form__keep {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

  }
}
